/* .registerimage{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: azure;
    background-image: url('https://media.istockphoto.com/id/507212121/sv/foto/healthy-food-background.jpg?s=612x612&w=0&k=20&c=4qQ_g8wf_CZi3kgKpHwfCzkDX7Bgd65IDlOFuU9U4qo=');
   background-size: 100% 100%;
   background-attachment: fixed;
} */
/* .registerimage{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: azure; 
    background-image: url('https://th.bing.com/th/id/OIP.Gt55Yw2drNDZdo-2ykJ0_AFZC1?w=292&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-color: rgb(255, 240, 244);
} */
