 <!-- <div style="max-width: 350px;color:mediumvioletred" >
    <div class="btn-group" role="group" aria-label="Recipe categories">
      <button type="button" class="btn btn-secondary" (click)="getAllRecipes()">All</button>
       <button type="button" class="btn btn-secondary" *ngFor="let opt of opts" (click)="getAllByCategory(opt.id)">{{opt.name}}</button> -->
  <!--  </div>
    <div class="list-group ml-0" style="overflow: scroll; -webkit-overflow-scrolling: touch; max-height: 250px">
       <a class="list-group-item-action" *ngFor="let movie of movies" routerLink="/recipe/{{movie.id}}" style="padding: 8px 0px; text-decoration: none;color:black;font-weight: bold;background-color: burlywood;">{{movie.name}}</a> 
    </div>
  </div>  -->

  <!-- <div class="container" style="max-width: 350px;color:rgb(0, 0, 0)">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-block" (click)="getAllRecipes()">All</button>
        </div>
        <div *ngFor="let opt of opts">
            <button type="button" class="btn btn-block" (click)="getAllByCategory(opt.id)"><b>{{opt.name}}</b></button>
        </div>
    </div>
    <div class="list-group ml-0 overflow-auto" style="max-height: 750px">
      <a class="list-group-item-action" *ngFor="let recipe of recipes" routerLink="/recipe/{{recipe.recipeId}}" style="padding: 8px 0px; text-decoration: none;color:black;font-weight: bold;">{{recipe.recipeName}}</a>
    </div>
</div> -->
 
